{% extends 'Templates/app.twig'%}

{% block content %}
 
<div class='right-button-margin'>
    <button href='/' class='btn btn-default pull-right'>Back</button>
</div>

<div class="card shadow">
    <div class="card-body">

        <form method="post" id="update_cliente" role="form">
        <div class="controls">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_data">Data *</label>
                        <input id="form_data" type="date" name="data" value="{{content.cliente.date|date('Y-m-d') }}" class="form-control" required="required" data-error="Date is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_name">Nome do Cliente *</label>
                        <input id="form_name" type="text" name="name" value="{{content.cliente.name}}" class="form-control" placeholder="Client name *" required="required" data-error="Cliente name is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="form_produto">Produto desejado</label>
                        <input id="form_produto" type="text" name="produto" value="{{content.cliente.produto}}"class="form-control" placeholder="produto">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="form_valordesejado">Valor desejado</label>
                        <input id="form_valordesejado" type="number" value="{{content.cliente.valordesejado}}" name="valordesejado" class="form-control" placeholder="Price">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="form_desconto">Desconto Desejado</label>
                        <input id="form_desconto" type="number" name="desconto" value="{{content.cliente.desconto}}" class="form-control" placeholder="Discount">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="form_telefone">Telefone *</label>
                        <input id="form_telefone" type="phone" name="telefone" value="{{content.cliente.telefone}}" class="form-control" placeholder="Telefone *" required="required" data-error="Phone is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_observacao">Observação *</label>
                        <textarea id="form_observacao" name="observacao" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a description.">{{content.cliente.observacao}}</textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success btn-send" id="btn_send" value="Update">
                </div>
            </div>
        </div>
        
        {{csrf.field | raw}}
        </form>
    </div>
</div>

    <script type="text/javascript">

    $(document).ready(function(){
    $('#update_cliente').submit(function(event) { 
                event.preventDefault();

                var dados = jQuery( this ).serializeArray();
                dados.push({name: 'id', value: {{content.cliente.id}}});

                jQuery.ajax({
                    type: "POST",
                    url: "/update_cliente",
                    data: dados,
                    success: function( data )
                    {
                        if(data){
                                $("#alertUpdate").addClass('show');
                        }else{
                            alert(data);
                        }
                    }
                });
                
                return false;
            });
        });
    </script>
{% endblock %}